@model IEnumerable<Entites.Entites.Operador>
@using Entites.Enums
@{
    ViewData["Title"] = "Lista de Operadores";
}


<div class="container d-flex justify-content-center" style="Height:50vh">
    <div class="align-self-center">
        <div class="d-flex justify-content-center" style="margin-bottom: 1.5rem">
            <h1>Tabela de Operadores Cadastrados</h1>
        </div>
        <div class="d-flex justify-content-end">
            <p>Quantidade de Operadores Cadastrados: @ViewBag.Operadores</p>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Matricula_Operador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome_Operador)
                    </th>
                    <th>
                        <div class="d-grid gap-2">
                            <a class="btn btn-dark btn-sm" asp-controller="HOME" asp-action="Index">VOLTAR</a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matricula_Operador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome_Operador)
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdOperador">EDITAR</a>
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdOperador">DETALHES</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdOperador">EXCLUIR</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
</div>
